.noteSubmitBtn{
    margin: auto;
}

.notesCont{
    background-color: transparent !important;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px 10px 25px 10px !important;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.63); 
    cursor: pointer;
}


.notesCont:hover{
    border: 1px solid red;
    box-shadow: 0px 0px 10px 1px red;
    cursor: pointer;
}

.selectedListBtn{
    background-color: red;
    border: 1px solid red;
    border-radius: 25px 10px 25px 10px !important;
    text-align: center;
    cursor: pointer;
}


.selectedListBtn:hover{
    border: 1px solid red;
    box-shadow: 0px 0px 10px 1px red;
    cursor: pointer;
}
