.todoModel{
    /* color: black; */
    text-decoration: solid;
}

.todosList{
    /* background: lightgrey; */
    background-color: transparent;
    color:#000;
}
 

.todosContainer{

    border-top:1px solid #000 ;
    margin-top: 5%;
    margin-left: 0% !important;
}

.todoOffCanvas{
    background: lightgrey;
    color: #000;
}

.badgeList{
    background-color: transparent !important;
    color: #000;
}